*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}


#daysHeader{
  width: 700px;
  display: flex;
  justify-content: space-between;

}

#daysHeader div{
  text-align: center;
  width: 100px;
  color: rgb(141, 122, 207);
  margin-bottom: 1rem;
}



#calendarBody{
  width: 714px;
  display: flex;
  flex-wrap: wrap;
}

#day{
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: 1px;
  cursor: pointer;
  padding: 5px;
}

#day div{
  color: rgb(141, 122, 207);
}

#setMonthDiv{
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 1rem;
}

#buttons button{
  width: 70px;
  height: 25px;
  margin: 0 0.4rem;
  font-size: 0.7rem;
  border: none;
  border-radius: 4px;
  background: rgb(141, 122, 207);
  color:white ;
  cursor: pointer;
  text-align: center;
}

#buttons button:hover{
  background: rgb(172, 154, 238);
}


#setMonthDiv h4{
  font-size: 1.5rem;
  color: brown;
}


.paddingDay{
  background-color: white !important;
  color: white;
  cursor: none;
}

.paddingDay div{
  display: none;
}


.current{
  outline: 2px solid rgb(141, 122, 207) !important;
}