@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Sixtyfour+Convergence&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=ZCOOL+QingKe+HuangYou&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}


#container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}


#daysHeader{
  width: 700px;
  display: flex;
  justify-content: space-between;

}

#daysHeader div{
  text-align: center;
  width: 100px;
  color: rgb(141, 122, 207);
  margin-bottom: 1rem;
}



#calendarBody{
  width: 714px;
  display: flex;
  flex-wrap: wrap;
}

#day{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: 1px;
  cursor: pointer;
  padding: 5px;
}

#day div{
  color: rgb(141, 122, 207);
}

#setMonthDiv{
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 1rem;
}

#buttons button{
  width: 70px;
  height: 25px;
  margin: 0 0.4rem;
  font-size: 0.7rem;
  border: none;
  border-radius: 4px;
  background: rgb(141, 122, 207);
  color:white ;
  cursor: pointer;
  text-align: center;
}

#buttons button:hover{
  background: rgb(172, 154, 238);
}


#setMonthDiv h4{
  font-size: 1.5rem;
  color: brown;
}


.paddingDay{
  background-color: white !important;
  color: white;
  cursor: auto !important;
}

.paddingDay div{
  display: none;
}


.current{
  outline: 2px solid rgb(141, 122, 207) !important;
}




#modalBackground{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#modal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}


h6{
  font-size: 0.7rem;
}

.noEvent{
  color: gray;
}


.modalBtn{
  width: 70px;
  height: 25px;
  margin:0.2rem;
  font-size: 0.7rem;
  border: none;
  border-radius: 4px;
  background: rgb(141, 122, 207);
  color:white ;
  cursor: pointer;
  text-align: center;
}

.modalForm input{
  height: 25px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(141, 122, 207);
  padding: 0 0.5rem;
  color: rgb(141, 122, 207);
}

#close{
  background-color: white;
  color: rgb(141, 122, 207);
  border: 1px solid rgb(141, 122, 207);
  margin-left: 8rem;
}

#close:hover{
  background-color:rgb(141, 122, 207) ;
  color: white;
}


#addEvent:hover{
  background: rgb(172, 154, 238);
}